language: c

compiler:
  - gcc
  
os:
  - linux

notifications:
  email: rvantonder@gmail.com
  
env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "Lnt/Z4x6pjItTPkyV53Dm+PNFqmpD92LdamiNFXe2Q4vXoNWtvDF5BsSC6vmzARr0Fe6pr2i6rvJP4WIfGG4O+UJY2FRK2Ow+Tkmgs1j2idGI6GSRv3AnVqIl3ULzLufzzGQeTJjjMqcnqZBKwuECUBSH2J/lXHl/NUQhvs70Bc="

before_install:
  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

addons:
  coverity_scan:
    project:
      name: "rvantonder/improve"
      description: "<Your project description here>"
    notification_email: rvantonder@gmail.com
    build_command_prepend: "make clean"
    build_command: "make -j2"
    branch_pattern: coverity_scan

script:
  - make -j2   

